In [74]:
import pandas as pd
import category_encoders as ce
from gensim.models import Word2Vec
import pickle

In [67]:
train_df= pd.read_csv('train.csv')
test_df= pd.read_csv('test.csv')

In [68]:
train_df.head()

,Sentences,Relations,e1,e2,position,sen_without_entity,sen_pos,pos_e1,pos_e2,enr_e1,enr_e2,root_e1,root_e2,shortest_dep_path,words_in_between
0,<e1> Thom Yorke </e1> of <e2> Radiohead </e2>...,"per:employee_of(e1,e2)",Thom Yorke,Radiohead,"[0, 3, 5, 7]",Thom Yorke of Radiohead have include the + for...,"['PROPN', 'PROPN', 'ADP', 'PROPN', 'AUX', 'VER...",PROPN,PROPN,NaN,NaN,Yorke,Radiohead,of,NaN
1,<e1> Leland High School </e1> is a public hig...,"org:city_of_headquarters(e1,e2)",Leland High School,San Jose,"[0, 4, 16, 19]",Leland High School be a public high school loc...,"['PROPN', 'PROPN', 'PROPN', 'AUX', 'DET', 'ADJ...",PROPN,PROPN,ORG,GPE,School,Jose,district,public high school locate Almaden Valley
2,The 2008 Ohio Bobcats football team represent...,"org:members(e2,e1)",Ohio University,NCAA,"[7, 10, 14, 16]",the 2008 Ohio Bobcats football team represent ...,"['DET', 'NUM', 'PROPN', 'PROPN', 'NOUN', 'NOUN...",PROPN,PROPN,ORG,ORG,University,NCAA,represented team the division,2008
3,<e1> Holy Cross High School </e1> is a Cathol...,"org:founded_by(e1,e2)",Holy Cross High School,Congregation of Holy Cross,"[0, 5, 19, 24]",Holy Cross High School be a catholic secondary...,"['PROPN', 'PROPN', 'PROPN', 'PROPN', 'AUX', 'D...",PROPN,PROPN,ORG,NaN,School,Congregation,founded by,catholic secondary school found Waterbury Conn...
4,Hastings was unable to confirm news reports t...,"per:employee_of(e2,e1)",Democratic,Bill Gwatney,"[13, 15, 18, 21]",Hastings be unable to confirm news report that...,"['PROPN', 'AUX', 'ADJ', 'PART', 'VERB', 'NOUN'...",PART,NOUN,NaN,PERSON,Democratic,Gwatney,party chairman,Democratic Party

# encode pos_e1,pos_e2, enr_e1, enr_e2 using Binary Encoder

In [69]:
train_features= train_df[['pos_e1', 'pos_e2', 'enr_e1', 'enr_e2']]
test_features= test_df[['pos_e1', 'pos_e2', 'enr_e1', 'enr_e2']]

In [70]:
enc= ce.BinaryEncoder()
enc= enc.fit(train_features)
train_enc= enc.transform(train_features)
test_enc= enc.transform(test_features)

C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [80]:
file = open("ce.obj","wb")
pickle.dump(enc, file)
file.close()

In [6]:
train_enc.describe()

,pos_e1_0,pos_e1_1,pos_e1_2,pos_e1_3,pos_e1_4,pos_e1_5,pos_e2_0,pos_e2_1,pos_e2_2,pos_e2_3,...,enr_e1_0,enr_e1_1,enr_e1_2,enr_e1_3,enr_e1_4,enr_e2_0,enr_e2_1,enr_e2_2,enr_e2_3,enr_e2_4
count,17255.0,17255.000000,17255.000000,17255.000000,17255.000000,17255.000000,17255.0,17255.000000,17255.000000,17255.000000,...,17255.0,17255.000000,17255.000000,17255.000000,17255.000000,17255.0,17255.000000,17255.000000,17255.000000,17255.000000
mean,0.0,0.002260,0.057549,0.124775,0.090351,0.910693,0.0,0.001333,0.060794,0.084092,...,0.0,0.004347,0.199478,0.475514,0.615879,0.0,0.004810,0.288032,0.438482,0.486236
std,0.0,0.047489,0.232894,0.330474,0.286692,0.285195,0.0,0.036486,0.238959,0.277533,...,0.0,0.065787,0.399620,0.499415,0.486401,0.0,0.069191,0.452859,0.496215,0.499825
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,1.000000,1.000000,0.0,0.000000,1.000000,1.000000,1.000000
max,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [7]:
test_enc.describe()

,pos_e1_0,pos_e1_1,pos_e1_2,pos_e1_3,pos_e1_4,pos_e1_5,pos_e2_0,pos_e2_1,pos_e2_2,pos_e2_3,...,enr_e1_0,enr_e1_1,enr_e1_2,enr_e1_3,enr_e1_4,enr_e2_0,enr_e2_1,enr_e2_2,enr_e2_3,enr_e2_4
count,3331.0,3331.000000,3331.000000,3331.000000,3331.000000,3331.000000,3331.0,3331.000000,3331.000000,3331.000000,...,3331.0,3331.000000,3331.000000,3331.000000,3331.000000,3331.0,3331.000000,3331.000000,3331.000000,3331.000000
mean,0.0,0.002101,0.066346,0.126088,0.095767,0.906635,0.0,0.001501,0.075353,0.094266,...,0.0,0.004803,0.195137,0.472231,0.618733,0.0,0.004203,0.266587,0.448514,0.502552
std,0.0,0.045800,0.248924,0.331999,0.294316,0.290987,0.0,0.038720,0.263999,0.292242,...,0.0,0.069150,0.396365,0.499303,0.485771,0.0,0.064703,0.442241,0.497417,0.500069
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000
75%,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,1.000000,1.000000,0.0,0.000000,1.000000,1.000000,1.000000
max,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [8]:
train_enc.drop(['pos_e1_0', 'pos_e2_0', 'enr_e1_0', 'enr_e2_0'], axis=1, inplace=True)
test_enc.drop(['pos_e1_0', 'pos_e2_0', 'enr_e1_0', 'enr_e2_0'], axis=1, inplace=True)

In [9]:
train_enc.shape

(17255, 18)

In [10]:
train_enc.to_csv('train_encodings_pos_enr.csv', index=False)
test_enc.to_csv('test_encodings_pos_enr.csv', index=False)

# encode e1 and e2 using word embeddings

In [17]:
model = Word2Vec.load('model.bin')

In [46]:
def encode(sen):
    '''
    each word in 100 dimension, sum up these vectors for each word in sentence, to get one final 100 size vector. 
    '''
    encoding=[0]*100
    words= str(sen).split()
    for word in words:
        if word!='nan':
            if word in model: 
                encoding +=model[word]
    return encoding

In [27]:
def encode_entity(df):
    enc_e1= df.e1.apply(encode).apply(pd.Series)
    enc_e2= df.e2.apply(encode).apply(pd.Series)
    
    return pd.concat([enc_e1, enc_e2], axis=1)

In [28]:
train_encodings_e1_e2= encode_entity(train_df)
test_encodings_e1_e2= encode_entity(test_df)

C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

In [29]:
train_encodings_e1_e2.shape

(17255, 200)

In [30]:
test_encodings_e1_e2.shape

(3331, 200)

In [31]:
train_encodings_e1_e2.to_csv('train_encodings_e1_e2.csv', index=False)
test_encodings_e1_e2.to_csv('test_encodings_e1_e2.csv', index=False)

# encode shortest dependency path

In [44]:
train_encodings_SDP= train_df.shortest_dep_path.apply(encode).apply(pd.Series)
test_encodings_SDP= test_df.shortest_dep_path.apply(encode).apply(pd.Series)

C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: Call to deprecated `__contains__` (Method will be removed in 4.0.0, use self.wv.__contains__() instead).
  if __name__ == '__main__':
C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  # Remove the CWD from sys.path while we load stuff.

In [45]:
train_encodings_SDP.shape

(17255, 100)

In [46]:
train_encodings_SDP.to_csv('train_encodings_SDP.csv', index=False)
test_encodings_SDP.to_csv('test_encodings_SDP.csv', index=False)

# encode e1 e2 with padding

In [97]:
def find_length(sen):
    words= sen.split()
    return len(words)

In [108]:
def get_encoding(entity, max_len_entity):
    words= entity.split()
    enc=[]
    padding=[0]*100
    
    for word in words:
        enc.extend(model[word].tolist())
    
    pads= max_len_entity-len(words)
    for pad in range(pads):
        enc.extend(padding)
        
    return enc

In [109]:
# find length of entities
len_e1= train_df.e1.apply(find_length)
len_e2= train_df.e2.apply(find_length)
max_len_e1= max(len_e1)
max_len_e2= max(len_e2)

In [113]:
def encode_entity(df):
    # embed each word in entity and zero pad if less than the max length for both train and test df
    enc_e1= df.apply(lambda row: get_encoding(row.e1, max_len_e1), axis=1).apply(pd.Series)
    enc_e2= df.apply(lambda row: get_encoding(row.e2, max_len_e2), axis=1).apply(pd.Series)
    enc_e1_e2= pd.concat([enc_e1, enc_e2], axis=1)
    
    return enc_e1_e2

In [114]:
train_enc_e1_e2= encode_entity(train_df)
test_enc_e1_e2= encode_entity(test_df)

C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  import sys

In [115]:
print(train_enc_e1_e2.shape, test_enc_e1_e2.shape)

(17255, 2000) (3331, 2000)

In [116]:
train_enc_e1_e2.to_csv('train_encodings_e1_e2_padding.csv', index=False)
test_enc_e1_e2.to_csv('test_encodings_e1_e2_padding.csv', index=False)

# encode labels

In [5]:
# encode labels
from sklearn.preprocessing import LabelEncoder
enc= LabelEncoder()
enc_label= enc.fit(train_df.Relations)
train_enc_label= enc.transform(train_df.Relations)
test_enc_label= enc.transform(test_df.Relations)

In [9]:
pd.Series(train_enc_label).to_csv('train_label_enc.csv', index=False)
pd.Series(test_enc_label).to_csv('test_label_enc.csv', index=False)

# encode words in between with word embeddings 100 features

In [47]:
train_enc_words_in_between= train_df.words_in_between.apply(encode).apply(pd.Series)
test_enc_words_in_between= test_df.words_in_between.apply(encode).apply(pd.Series)

C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: Call to deprecated `__contains__` (Method will be removed in 4.0.0, use self.wv.__contains__() instead).
  if __name__ == '__main__':

In [48]:
train_enc_words_in_between.shape

(17255, 100)

In [49]:
test_enc_words_in_between.shape

(3331, 100)

In [50]:
train_enc_words_in_between.to_csv('train_enc_words_in_between.csv', index=False)
test_enc_words_in_between.to_csv('test_enc_words_in_between.csv', index=False)

# encode root words

In [51]:
def encode_root(df):
    df_enc_root_e1= df.root_e1.apply(encode).apply(pd.Series)
    df_enc_root_e2= df.root_e2.apply(encode).apply(pd.Series)
    enc_root= pd.concat([df_enc_root_e1, df_enc_root_e2], axis=1)
    
    return enc_root

In [52]:
train_enc_root= encode_root(train_df)
test_enc_root= encode_root(test_df)

C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: Call to deprecated `__contains__` (Method will be removed in 4.0.0, use self.wv.__contains__() instead).
  if __name__ == '__main__':
C:\Users\Gunjan\Anaconda3\envs\nlp\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  # Remove the CWD from sys.path while we load stuff.

In [53]:
train_enc_root.shape

(17255, 200)

In [54]:
test_enc_root.shape

(3331, 200)

In [55]:
train_enc_root.to_csv('train_enc_root.csv', index=False)
test_enc_root.to_csv('test_enc_root.csv', index=False)

# encode all into one

In [57]:
train_pos_enr= pd.read_csv('train_encodings_pos_enr.csv')
test_pos_enr= pd.read_csv('test_encodings_pos_enr.csv')
# e1 and e2
train_e1_e2= pd.read_csv('train_encodings_e1_e2.csv')
test_e1_e2= pd.read_csv('test_encodings_e1_e2.csv')
# SDP
train_SDP= pd.read_csv('train_encodings_SDP.csv')
test_SDP= pd.read_csv('test_encodings_SDP.csv')
# words in between 
train_words_in_between= pd.read_csv('train_enc_words_in_between.csv')
test_words_in_between= pd.read_csv('test_enc_words_in_between.csv')
# root words
train_root= pd.read_csv('train_enc_root.csv')
test_root= pd.read_csv('test_enc_root.csv')

In [58]:
train_pos_enr_e1e2_root_between= pd.concat([train_pos_enr, train_e1_e2, train_root, train_words_in_between, train_SDP], axis=1)
test_pos_enr_e1e2_root_between= pd.concat([test_pos_enr, test_e1_e2, test_root, test_words_in_between, test_SDP], axis=1)

In [60]:
train_pos_enr_e1e2_root_between.to_csv('train_pos_enr_e1e2_root_between.csv', index=False)
test_pos_enr_e1e2_root_between.to_csv('test_pos_enr_e1e2_root_between.csv', index=False)